@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/animate.css/animate.css";

$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome";

@import "assets/scss/reset", "assets/scss/typography", "assets/scss/variables", "assets/scss/mixins",
  "assets/scss/layout", "assets/scss/ui-elements";

body {
  font-family: $font-primary-en;
  overflow-x: hidden;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}