
@font-face {
    font-family: 'archiaregular';
    src: url('assets/fonts/archia-regular-webfont.eot');
    src: url('assets/fonts/archia-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/archia-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/archia-regular-webfont.woff') format('woff'),
         url('assets/fonts/archia-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


