%sweep-btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: $brand-color;
  z-index: 0;
  padding: 12px 30px;
  text-transform: uppercase;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $brand-second-color;
    color: $white-color;
    @include transform(scaleX(0));
    @include transition(transform 0.4s ease-out);
  }
  &:hover {
    color: $white-color;
  }

  &:hover:before {
    @include transform(scaleX(1));
    color: $white-color;
  }
}

.sweep-btn--right {
  @extend %sweep-btn;
  &:before {
    transform-origin: -100% 50%;
  }
}

.sweep-btn--left {
  @extend %sweep-btn;
  &:before {
    transform-origin: 100% 50%;
  }
}

.sweep-btn--center {
  @extend %sweep-btn;
  &:before {
    transform-origin: 50% 50%;
  }
}

.link__button {
  position: relative;
  padding: 19px 24px;
  width: fit-content;
  transition: all 0.2s ease;

  &:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba($brand-color, 0.2);
    width: 56px;
    height: 56px;
    transition: all 0.5s ease;
  }
  span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    vertical-align: middle;
    color: $white-color;
  }
  svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: $white-color;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.5s ease;
  }
  &:hover {
    &:before {
      width: 100%;
      background: rgba($brand-color, 1);
    }
    svg {
      transform: translateX(0);
    }
    &:active {
      transform: scale(0.96);
    }
  }
}

.sliding-underline-link {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: $light-grey-color;
    transform-origin: bottom center;
  }
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: $brand-color;
    transform-origin: bottom center;
    @include transition(transform 0.4s);
    @include transform(scaleX(0));
  }
  &:hover {
    color: $brand-color !important;
    &:after {
      transform-origin: bottom center;
      @include transform(scaleX(1));
    }
  }
}


.action-button {
  border: none;
  background: none;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  outline: none;
  margin-top: 40px;

  &__text {
    display: inline-block;
    margin-right: 36px;
    font-size: 18px;
    color: $brand-color;
    @include transition(all 0.5s ease);
  }
  &__shapes {
    position: relative;
    width: 64px;
    height: 64px;
  }
  &__rectangle {
    position: absolute;
    top: 50%;
    right: 32px;
    width: 50px;
    height: 2px;
    background-color: $brand-color;
    -webkit-transform-origin: right;
    transform-origin: right;
    @include transform(translateY(-50%) scaleX(1));
    @include transition(all 0.5s ease);
  }
  &__arrow {
    position: absolute;
    top: 10px;
    left: 27px;

    @include breakpoint(sm) {
      top: 23px;
    }
    @include breakpoint(lp) {
      top: 14px;
    }
    polygon {
      fill: $brand-color;
      @include transition(all 0.5s ease);
    }
  }
  &__circle {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__circle--base {
    @include transition(all 0.5s ease);
    @include transform(rotate(-154deg));
    circle {
      @include transition(all 0.5s ease);
      stroke-width: 2px;
      stroke: $brand-color;
      fill: none;
      stroke-dasharray: 200;
      stroke-dashoffset: 50;
    }
  }

  &__circle--fill {
    @include transition(all 0.5s ease);
    circle {
      @include transition(all 0.5s ease);
      stroke-width: 2px;
      stroke: $brand-second-color;
      fill: none;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
    }
  }

  &:hover & {
    &__text {
      @include transform(translateX(22px));
      color: $brand-second-color;
    }
    &__rectangle {
      @include transform(translateY(-50%) scaleX(0));
    }
    &__circle--base {
      @include transform(rotate(-180deg));
    }
    &__circle--fill {
      @include transform(rotate(-200deg));
    }
    &__circle--base {
      circle {
        stroke: none;
      }
    }
    &__arrow polygon {
      fill: $brand-second-color;
    }
    &__circle--fill circle {
      stroke-dashoffset: 10;
    }
  }
}



.action-button-white{
  border: none;
  background: none;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  outline: none;
  margin-top: 40px;

  &__text {
    display: inline-block;
    margin-right: 36px;
    font-size: 18px;
    color: $white-color;
    @include transition(all 0.5s ease);
  }
  &__shapes {
    position: relative;
    width: 64px;
    height: 64px;
  }
  &__rectangle {
    position: absolute;
    top: 50%;
    right: 32px;
    width: 50px;
    height: 2px;
    background-color: $white-color;
    -webkit-transform-origin: right;
    transform-origin: right;
    @include transform(translateY(-50%) scaleX(1));
    @include transition(all 0.5s ease);
  }
  &__arrow {
    position: absolute;
    top: 10px;
    left: 27px;

    @include breakpoint(sm) {
      top: 23px;
    }
    @include breakpoint(lp) {
      top: 14px;
    }
    polygon {
      fill: $white-color;
      @include transition(all 0.5s ease);
    }
  }
  &__circle {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__circle--base {
    @include transition(all 0.5s ease);
    @include transform(rotate(-154deg));
    circle {
      @include transition(all 0.5s ease);
      stroke-width: 2px;
      stroke: $white-color;
      fill: none;
      stroke-dasharray: 200;
      stroke-dashoffset: 50;
    }
  }

  &__circle--fill {
    @include transition(all 0.5s ease);
    circle {
      @include transition(all 0.5s ease);
      stroke-width: 2px;
      stroke: $brand-color;
      fill: none;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
    }
  }

  &:hover & {
    &__text {
      @include transform(translateX(22px));
      color: $brand-color;
    }
    &__rectangle {
      @include transform(translateY(-50%) scaleX(0));
    }
    &__circle--base {
      @include transform(rotate(-180deg));
    }
    &__circle--fill {
      @include transform(rotate(-200deg));
    }
    &__circle--base {
      circle {
        stroke: none;
      }
    }
    &__arrow polygon {
      fill: $brand-color;
    }
    &__circle--fill circle {
      stroke-dashoffset: 10;
    }
  }
}


