<header>
    <a routerLink="home" class="logo cursor-link"></a>
    <div id="full-screen-menu">
        <div class="button_container cursor-link" id="toggle">
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
        </div>
        <div class="overlay" id="overlay">
            <a routerLink="home" class="logo-menu cursor-link"></a>
            <nav class="overlay-menu">
                <ul id="overlay-menu__item">
                    <li class="box"><a routerLink='about' class="cursor-link">
                            <span class="number">01</span>case studies</a></li>
                    <li class="box"><a routerLink='services' class="cursor-link">
                            <span class="number">02</span>what we do</a></li>
                    
                </ul>
            </nav>

        </div>
    </div>
</header>